*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
out
gen

# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar
/app/build/
/.idea/

